# <center>CHALLENGE 3<center>

<p>Team Name: char junkies
<p>Student Names: Adriean Lemoine, Chris Smith, Nick Burgo

## Instructions
Use generic coding style unless hard-coded values are really necessary.<br>
Your code must be efficient and use self-explanatory naming.<br>
Use appropriate Python library methods for each task instead of using loops.<br>
Run your entire code and save. Then submit this <b>saved</b> copy.

## Imports

In [85]:
import math
import numpy as np
import pandas as pd

## Loading Data

Load "titanic.csv" into the data frame object "data"</br>
[train.csv](https://github.com/wesm/pydata-book/blob/2nd-edition/datasets/titanic/train.csv)

In [87]:
url = "https://raw.githubusercontent.com/wesm/pydata-book/refs/heads/2nd-edition/datasets/titanic/train.csv"
data = pd.read_csv(url, index_col=0)

## Data Processing

Create a data frame object "pasUpto19".
> Columns of pasUpto19 = {AGE_12, AGE_TEEN, PCLASS}.<br>
> AGE_12 : Passengers with age in \[1, 12]<br>
> AGE_TEEN : Passengers with age in \[13, 19]<br>

In [88]:
preteen = data[data['Age'] < 13][['Age','Pclass']]
preteen.rename(columns={'Age': 'AGE_12', 'Pclass': 'PCLASS'}, inplace=True)

teen = data[np.logical_and(data['Age'] < 20, data['Age'] > 12)][['Age','Pclass']]
teen.rename(columns={'Age': 'AGE_TEEN', 'Pclass': 'PCLASS'}, inplace=True)

pasUpto19 = pd.concat([preteen, teen], ignore_index=True)
pasUpto19 = pasUpto19.reindex(columns=['AGE_12', 'AGE_TEEN', 'PCLASS'])

# For testing purposes
print(pasUpto19)

     AGE_12  AGE_TEEN  PCLASS
0       2.0       NaN       3
1       4.0       NaN       3
2       2.0       NaN       3
3       8.0       NaN       3
4       3.0       NaN       2
..      ...       ...     ...
159     NaN      16.0       1
160     NaN      18.0       3
161     NaN      15.0       3
162     NaN      19.0       3
163     NaN      19.0       1

[164 rows x 3 columns]

Display 5 rows below and above the middle row of "pasUpto19":

In [89]:
middle_row = math.floor(len(pasUpto19) / 2)
print(pasUpto19[middle_row -5: middle_row + 5])

    AGE_12  AGE_TEEN  PCLASS
77     NaN      19.0       3
78     NaN      17.0       3
79     NaN      16.0       3
80     NaN      17.0       2
81     NaN      16.0       3
82     NaN      14.5       3
83     NaN      17.0       3
84     NaN      19.0       1
85     NaN      16.0       3
86     NaN      19.0       3

Group pasUpto19 by AGE_TEEN:

Get the mean of PCLASS for each group of AGE_TEEN and display the mean by age groups:

Sort "pasUpto19" by the age of teenages and store into a DF object "pasUpto19_sortTeen":

## Summarize Data

Create "pasUpto19_stat" an object from the statistics of pasUpto19. Use the method describe(). Print the statistics.

In [ ]:
# describe() refers to a pandas dataframe method after I looked it up
# I believe this refers to showing the mean for each age group as created above...

Store each statistics of pasUpto19_stat into a multi-dimensional list "pasUpto19_stat_lst" individually. Print the list.

Print rows where AGE_12 >= mean of AGE_12 or AGE_TEEN >= mean AGE_TEEN.

# STOP HERE FOR C3.1

## Use of method "eval(Age ...)"

<b>Sample Code Snippet:</b><br>
<p>
dic = {"x": pd.Series([2,-1,3,5], name="x"),
      "y": pd.Series((10,11,12), name="y")
      }<br>
df = pd.DataFrame(dic)<br>
print(df)<br>
df.eval("x == 5")
</p>

Get passengers whose age is in \[3,7) or in \[12, 15] and store into "pas3to6_12to15":

## Plots

Create a figure "Plots for Pclass and Age"<br>
Plot histograms for "PCLASS", "AGE_12", and "AGE_TEEN" side by side:

Add a scatter plot for "PCLASS" vs. "AGE_12" into the first cell and "PCLASS" vs. "AGE_TEEN" into the last cell on the same figure at the second row:

## <center> REFERENCES </center>
List resources (book, internet page, etc.) that you used to complete this challenge.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html
https://www.geeksforgeeks.org/indexing-and-selecting-data-with-pandas/
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reindex.html#pandas.DataFrame.reindex
https://pandas.pydata.org/pandas-docs/version/1.4/reference/api/pandas.concat.html#pandas.concat
https://stackoverflow.com/questions/36921951/truth-value-of-a-series-is-ambiguous-use-a-empty-a-bool-a-item-a-any-o